<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title" id="username">{{userData.username}}</h3>
                <div class="imgContainer mb-3"><img class="display" src="/default-avatars/{{userData.avatar}}"></div>
                <div class="row">
                    <div class="col-4">
                        <p>First Name:</p>
                    </div>
                    <div class="col-8">
                        <p>{{userData.fname}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>