<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">


            <div class="card-body">
                <h3 class="card-title" id="signup">Add Post</h3>

                <form action="/addPost" method="POST">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <label class="form-control border border-0" for="title">Title:</label>
                            <input class="form-control" type="text" id="title" name="title" required>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="content">Content:</label>
                                <textarea class="form-control" id="content" name="content" rows="10" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group float-right mt-4">
                        <input class="btn btn-light" type="submit" value="Submit">
                        <input class="btn btn-light" type="reset" value="Clear">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>